/**
 * Fix user-agent
 */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/**
 * Canvas
 */

#canvas,
#canvasCursor {
    cursor: none;
    background: #fff;
    position: absolute;
    left: 50px;
    top: 30px;
    z-index: 1;
}

.whiteboard {
    /*  height: 100%;
  width: 100%;*/
    height: 300px;
    width: 400px;
    position: relative;
    /*
  height: 100%;
  width: 100%;
  position: absolute;*/
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.whiteboard-window {
    background-color: white;
    width: 500px;
    height: 257px;
}

.colors {
    position: fixed;
}

.color {
    display: inline-block;
    height: 48px;
    width: 48px;
}

.color.black {
    background-color: black;
}

.color.red {
    background-color: red;
}

.color.green {
    background-color: green;
}

.color.blue {
    background-color: blue;
}

.color.yellow {
    background-color: yellow;
}